[submodule ".registry"]
	path = .registry
	url = https://github.com/trelliscope/trelliscope.r-universe.dev
	branch = HEAD
[submodule "trelliscope"]
	path = trelliscope
	url = https://github.com/trelliscope/trelliscope
